# DATABASE_URL=mysql://USER_NAME:PASSWORD@HOST_NAME:PORT/DATABASE_NAME
DATABASE_URL="mysql://root:@localhost:3306/nextjs_job_portal"
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=nextjs_job_portal